.about--us {
    padding: 1rem 0;
}

.about--us--img {
    width: 100%;
}


.about--us--description > h1 {
    font-size: 3.8rem;
    font-weight: bold;
    padding: 1rem;
    background-color: #F2F2F2;
}

.about--us--intro {
    color: #ffffff;
    padding: 1rem;
    background-color: black;
}

.about--us--details {
    padding: 1rem;
    font-size: 1.125rem;
    background-color: #F2F2F2;
}

.blue-border {
    width: 40%;
    height: 0.6rem;
    background-color: #25C6E3;
}

@media (max-width: 1023px) {
    .about--us {
        padding: 2rem 0;
        display: flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        flex-direction: column;
        margin: 0 auto;
    }

    .about--us > div{
        width: 100%;
    }

    .about--us--description {
        padding: 1rem 0 0 0;
    }

}

@media (min-width: 1024px) {
    .about--us {
        display: flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        flex-direction: row;
    }

    .about--us > div {
        width: 50%;
    }

    .about--us--description {
        padding: 2rem 2rem 2rem 3rem;
    }

}